
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
    overflow-x: hidden;
}

header {
    background: #FFE70B;

    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    border-bottom: 1px solid rgb(55 65 81);
}

header.mid {
    height: 50vh;
    justify-content: flex-start;

    padding-left: 5rem;
}

header .my-hate {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 2rem;
    left: 2rem;

    font-weight: 600;

    cursor: pointer;
    color: #000;
    text-decoration: none;
}

header h1 {
    font-size: 5rem;
    font-weight: 600;
}

@media only screen and (max-width: 992px) {
    header h1  {
        padding: 0 5%;
    }
}

header.mid h1 {
    font-size: 3rem;
    text-transform: capitalize;
}

header.mid div > p {
    margin-top: 5px;
    margin-left: 15px;

    opacity: .5;
}

header .scroll-down {
    position: absolute;
    color: #000;

    bottom: 2rem;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 30px;
    height: 30px;

    cursor: pointer;
}

header.mid .scroll-down {
    display: none;
}

/* CONTENT */

#content:not(.is-collection) > h1:first-child {
    margin: 5rem auto 0;
    text-align: center;
}

#content:not(.is-collection) > h5 {
    margin: 1rem auto 0 auto;
    text-align: center;

    font-weight: 500;
}

#content:not(.is-collection) .collections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;

    padding: 0 15rem;
}

@media only screen and (max-width: 992px) {
    #content:not(.is-collection) .collections {
        grid-template-columns: 1fr;
        padding: 0 1rem;
    }
}

#content:not(.is-collection) .collections .collection {
    color: #000;
    font-size: 30px;

    font-weight: 600;
    text-decoration: none;

    text-align: center;
    margin-top: 5rem;

}

#content.is-collection {
    padding: 10rem 20rem;
}

@media only screen and (max-width: 992px) {
    #content.is-collection {
        padding: 0 1rem;
    }
}

/* footer */

footer {
    background: rgb(229 231 235);
    border-top: 1px solid rgb(55 65 81);

    margin-top: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem;
}

footer a {
    margin: 0 10px;
    color: #000;
    text-decoration: underline;
}

